<h2 class="text-center">Navigate School Choice in Delaware?</h2>

<div class="round-container row justify-content-center p-4 pb-5">
  <div class="col-12 col-lg-4 text-center nav_responsive">
    <%= link_to(learn_path, class: 'nav-item') do %>
      <%= image_tag('sherpa_icons-01.png', class: 'nav-icon') %>
      <div class="nav-label">
        Learn About School Choice
      </div>
    <% end %>
  </div>
  <div class="col-12 col-lg-4 text-center nav_responsive">
    <%= link_to(search_path, class: 'nav-item') do %>
      <%= image_tag('sherpa_icons-02.png', class: 'nav-icon') %>
      <div class="nav-label">
        Search for Schools
      </div>
    <% end %>
  </div>
  <div class="col-12 col-lg-4 text-center nav_responsive">
    <%= link_to(apply_path, class: 'nav-item') do %>
      <%= image_tag('sherpa_icons-03.png', class: 'nav-icon') %>
      <div class="nav-label">
        Apply to a School
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col">
    <hr class="" />
  </div>
</div>
