<!DOCTYPE html>
<html lang="en">
  <head>
    <title>School Choice Delaware</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Quicksand:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render partial: 'app/google_mapping_api' %>
  </head>

  <body>
    <div class="sherpa container">
      <div class="banner row">
        <div class="col-12 text-center p-3">
          <%= link_to(root_path,  class: 'titling') do %>
            <%= image_tag('logo_title', height: 100, width: 300, alt: 'School Choice Delaware Search') %>
            <h1>School Choice SHERPA</h1>
          <% end %>
        </div>
      </div>
      <div class="body row justify-content-center p-lg-5 pb-1">
<%= yield %>
      </div>
      <div class="banner row">
        <div class="col-12 text-center p-3">
          <%= link_to(root_path) do %>
            <%= image_tag('logo', height: '70', width: '50', alt: 'School Choice Delaware Search') %>
          <% end %>
        </div>
      </div>
    </div>

    <footer class="text-center small">
      Site Design by Betsey Suchanic, Code by Eric L. Truitte, MBA.<br/>
      Code is available at <a href="http://github.com/omnilord/school-sherpa-de">GitHub</a>. Contributors welcome!</br>
      Cookies are not used for tracking purposes or to store information about end users.
    </footer>
  </body>
</html>
